body {
  float: left;
  width: 100%;
  margin: 0 !important;
  background: #fff;
}

#app {
  float: left;
  width: 100%;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #3c4144;
}